@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

:root {
    --bg-container: hsl(33, 100%, 65%);
    --bd-container: hsl(204, 95%, 50%);
    --font: 'Fredoka Ona', cursive;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}
body {
    font-family: var(--font);
    display: flex;
    flex-flow: column wrap;
    background-color: hsl(0, 0%, 82%);
    background-image: url(../home/assets/background.webp);
    background-size: 300%;
    animation: bg-motion 40s infinite alternate;
}
@keyframes bg-motion {
    0% {
        background-position: left;
    }
    50% {
        background-position: 45deg;
    }
    100% {
        background-position: right;
    }
}
nav {
    display: flex;
    min-height: 7vh;
    background-color: var(--bg-container);
    box-shadow: 0px 0px 20px 1px hsl(0, 0%, 0%);
}
ul {
    width: 80%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-evenly;
}
li, li a {
    height: 6vh;
    padding-top: 1rem;
    list-style: none;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: hsl(208, 100%, 97%);
    text-shadow: -1px -1px 2px hsl(0, 0%, 0%);
}
li:nth-child(3):hover, li a:hover {
    cursor: pointer;
    color: hsl(0, 0%, 77%);
}
#level {
    font-size: 1.4rem;
    border-left: 3px solid hsl(208, 100%, 97%);
    border-right: 3px solid hsl(208, 100%, 97%);
    box-shadow: 
    2px 0px hsl(0, 0%, 35%),
    -2px 0px hsl(0, 0%, 35%);
    padding: 0rem 1.5rem;
}
#level span {
    font-size: 0.85rem;
    text-align: center;
    display: block;
}
#play-zone {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.container {
    min-height: 70vh;
    flex-basis: 40vw;
    margin-top: 3rem;
    margin-bottom: 1rem;
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--bg-container);
    border-radius: 30px;
    border: 10px solid var(--bd-container);
    box-shadow: 0px 0px 30px;
}
.input-side {
    justify-content: space-evenly;
}
#word-info {
    display: flex;
    flex-flow: column nowrap;
}
#word-shown {
    text-align: center;
    font-size: 3rem;
    color: hsl(0, 0%, 0%);
    text-shadow: -3px 2px 1px hsl(0, 0%, 100%);
}
#word-info div {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 1rem;
    text-align: center;
    font-size: 1.7rem;
}
#word-info i {
    text-shadow: -2px 2px 1px hsl(0, 0%, 100%);
}
#window {
    display: none;
}
.pop-up:hover #window {
    display: block;
    position: absolute;
    z-index: 1;
    width: 20rem;
    height: 6rem;
    padding: 10px 0px;
    background-color:hsl(0, 0%, 96%);
    border-radius: 10px;
    color:#000;
    text-align: center;
    font-size: 1rem;
    line-height: 20px;
}
#user-input {
    margin: 0% 10%;
    padding: 2rem 0rem;
    background-color: var(--bd-container);
    border: 5px solid hsl(0, 0%, 90%);
    border-radius: 25px;
    box-shadow: 0px 0px 15px 0.5px;
}
#typed-input, #try-bttn {
    display: block;
    width: 70%;
    margin: auto;
    border: none;
    border-radius: 10px;
    font-family: var(--font);
}
#typed-input {
    padding: 0.3rem 0rem;
    font-size: 0.95rem;
    text-align: center;
}
#try-bttn {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}
#lives {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 10%;
}
#lives i {
    margin: 0rem 0.5rem;
    padding: 0.4rem;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 0px 10px 1px hsl(0, 0%, 0%);
    border-radius: 10px;
    color: hsl(0, 77%, 45%);
    text-align: center;
    font-size: 2rem;
}
.hidden-side {
    justify-content: center;
}
.rhyme-zone {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rhyme-section {
    flex-grow: 1;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 1px hsl(0, 0%, 96%);
    align-items: center;
}
.rhyme-section:hover #window {
    font-size: 1.2rem;
}
.hidden-letter {
    flex-grow: 1;
    height: 8vh;
    padding-top: 3%;
    text-align: center;
    font-size: 200%;
    background-color: var(--bd-container);
    border: none;
    color: var(--bd-container);
    transition: all 2s;
}
.hidden-letter:nth-child(2) {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.hidden-letter:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.pop-window {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    min-height: 30%;
    width: 30rem;
    background-color: hsl(32, 75%, 74%);
    border: none;
    border-radius: 25px;
    box-shadow: 
        0px 0px 15px hsl(0, 0%, 100%),
        0px 0px 10px hsl(0, 0%, 20%) inset;
    display: flex;
    flex-flow: column nowrap;
    font-size: 1.3rem;
}
.pop-window h2 {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.pop-window div {
    flex-grow: 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}
.bttn-decider {
    background-color: var(--bd-container);
    color: hsl(0, 0%, 100%);
    font-family: var(--font);
    font-size: 1rem;
    padding: 0.2rem 0rem;
    margin: 0rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.bttn-decider a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}
.pop-window .go-home {
    margin: 0rem 8rem;
    background-color: hsl(204, 70%, 50%);
}
.first-bttn {
    padding: 0.5rem 0rem;
}
.pop-window h3 {
    margin: 0rem 1rem;
    text-align: center;
    font-size: 1.2rem;
}
.level-failed {
    display: none;
}
.level-completed {
    display: none;
}
.word-completed {
    display: none;
}
footer {
    position: absolute;
    bottom: 0px;
    width: 100vw;
    height: 4rem;
    background-color: var(--bg-container);
    box-shadow: 0px 0px 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.credits p {
    font-family: var(--font);
    font-size: 0.9rem;
    text-align: center;
    color: black;
    text-shadow: -1px -1px 2px hsl(0, 0%, 100%);
}
.credits a {
    color: black;
}