@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

:root {
    --bg-container: hsl(33, 100%, 65%);
    --bd-container: hsl(204, 95%, 50%);
    --font: 'Fredoka Ona', cursive;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(0, 0%, 82%);
    background-image: url(./assets/background.webp);
    background-size: 300%;
    animation: bg-motion 30s infinite alternate;
}
@keyframes bg-motion {
    0% {
        background-position: left;
    }
    50% {
        background-position: 45deg;
    }
    100% {
        background-position: right;
    }
}
nav {
    width: 100vw;
    min-height: 7vh;
    margin-top: -16px;
    background-color: hsl(33, 100%, 65%);
    box-shadow: 0px 0px 20px 0.5px hsl(0, 0%, 0%);
}
ul {
    width: 60%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}
li {
    list-style: none;
    height: 6vh;
    padding-top: 1rem;
    font-family: var(--font);
    font-size: 1.2rem;
    font-weight: 600;
    color: aliceblue;
    text-shadow: -1px -1px 2px hsl(0, 0%, 0%);
}
#game-name {
    width: fit-content;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    padding: 0.5rem 1.5rem;
    box-shadow: 
        2px 0px rgb(88, 88, 88),
        -2px 0px rgb(88, 88, 88);
    font-size: 1.4rem;
    border-left: 3px solid aliceblue;
    border-right: 3px solid aliceblue;
}
#container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    min-height: 50%;
    width: 30rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    border: 10px solid var(--bd-container);
    border-radius: 25px;
    background-color: var(--bg-container);
    box-shadow: 0px 0px 30px;
}
.option-container {
    display: flex;
    flex-grow: 3;
    justify-content: center;
    align-items: center;
}
.one {
    margin-top: 1rem;
}
.three {
    flex-grow: 1;
}
.click {
    padding: 3% 8%;
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
    font-family: var(--font);
    text-shadow: -1px -1px 2px hsl(0, 0%, 0%);
    color: rgb(255, 255, 255);
    background-color: var(--bd-container);
    border-radius: 20px;
    border: 5px solid hsl(0, 0%, 90%);
    cursor: pointer;
}
.click span {
    display: none;
}
.click:hover span {
    display: block;
    position: absolute;
    width: 10rem;
    height: 4rem;
    border-radius: 10px;
    background-color:rgb(245, 245, 245);
    color:#000;
    padding: 6px 0px;
    text-align: center;
    font-size: 1rem;
    text-shadow: none;
}
.click:hover span::after {
    content:'';
    position:absolute;
    left: 20px;
    bottom:-3px;
    width:10px;
    height:10px;
    background-color:rgb(245, 245, 245);
    margin-left:-5px;
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
}
.play span {
    top: -40px;
    left: 250px;
}
.words span {
    top: 85px;
    left: 275px;
}
.instructions span {
    top: 212px;
    left: 335px;
}
.word-selection {
    display: none;
    position: absolute;
    z-index: 1;
    border-radius: 25px;
    background-color: aliceblue;
    font-family: var(--font);
}
.word-selection p {
    height: 30vh;
    width: 28rem;
    padding: 0.4rem 0.8rem;
    text-align: right;
    color: #000;
    cursor: pointer;
}
#form {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 95%;
    height: 70%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    padding: 0.8rem;
}
#form h2 {
    text-align: center;
    font-size: 200%;
}
#form div {
    display: flex;
    justify-content: space-evenly;
    height: 3vh;
}
#set-level {
    display: none;
}
#form div label {
    font-size: 150%;
}
#word-options {
    width: 60%;
    border-radius: 8px;
    text-align: center;
    font-family: var(--font);
    font-size: 120%;
}
#form button {
    margin-left: 1.1rem;
    margin-right: 1.1rem;
    height: 2rem;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 0px 4px hsl(0, 0%, 0%);
    font-family: var(--font);
    font-size: 120%;
    cursor: pointer;
}
.icon {
    padding: 0.5rem 0.8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color:hsl(0, 0%, 0%);
    border-radius: 50%;
    background-color: hsl(0, 0%, 100%);
    cursor: pointer;
}
footer {
    position: absolute;
    bottom: 0px;
    width: 100vw;
    height: 4rem;
    background-color: var(--bg-container);
    box-shadow: 0px 0px 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.credits p {
    font-family: var(--font);
    text-align: center;
    color: black;
    text-shadow: -1px -1px 2px hsl(0, 0%, 100%);
}
.credits a {
    color: black;
}